.header {
  text-align: center;
  padding: 0px; }
  .header__nav {
    display: block;
    background: url("../images/topnav_background.jpg") repeat-x top #96835f;
    padding: 0;
    margin: 0; }
    .header__nav__menu {
      list-style: none;
      margin-bottom: 15px;
      text-align: center;
      display: flex; }
      .header__nav__menu__entry {
        flex: 100;
        list-style: none;
        padding: 9px 0px 9px 25px;
        font-size: 120%;
        font-size: 1.2em;
        float: left;
        white-space: nowrap;
        color: #43322e; }
        .header__nav__menu__entry__link {
          font-weight: bold; }
        .header__nav__menu__entry__link, .header__nav__menu__entry__link:visited, .header__nav__menu__entry__link:link {
          color: inherit; }
        .header__nav__menu__entry__link:hover {
          color: black; }
      .header__nav__menu__entry:last-of-type {
        padding-right: 25px; }
