body {}

iframe {
	max-width: none;
}

.container {
	position: relative;
	display: block;
	width: 950px;
	margin: 0 auto;
	padding: 0;
	background: none;
}

.header {
	text-align: center;
	padding: 0;
	position: relative;

	&__banner {
		background-image: url("../images/opt/lrc_banner_opt.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 176px;

		&__button {
			display: none;
		}

		&__logo {
			position: relative;
			display: inline-block;
			width: auto;
			text-align: left;
			left: 0;
			float: left;
			height: 7em;
			margin: 2em 6em;

			img {
				height: 100%;
				width: auto;
			}
		}

		&__signup {
			position: absolute;
			top: 0;
			right: 5%;
			width: 35%;

			img {
				width: 100%;
			}
		}
	}

	&__nav {
		position: relative;
		display: block;
		padding: 0;
		margin: 0;
		height: 40px;
		max-height: 40px;
		background: url("../images/topnav_background.jpg") repeat-x top #96835f;

		&__menu {
			position: relative;
			list-style: none;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			margin: 0;
			padding: 0;

			&__entry {
				flex: 1 1 auto;
				flex-wrap: nowrap;
				list-style: none;
				font-size: 120%;
				font-size: 1.2em;
				float: none;
				white-space: nowrap;
				color: #43322e;

				&:first-of-type {
					padding-left: 9px;
				}

				&__link {
					display: inline-block;
					font-weight: bold;
					padding: 9px;
				}

				&__link,
				&__link:link,
				&__link:visited {
					color: inherit;
				}

				&__link:hover {
					color: black;
				}
			}
		}
	}
}

.container__main {
	display: flex;
	background-color: #eae5dd;
	width: 100%;

	&--recycled-products {
		display: block;
		background-color: #eae5dd;
		width: 100%;
		margin: 0 auto;

		.content {
			width: 100%;
			height: auto;
			margin: 0 auto;
			padding-bottom: 6em;

			&--recycled-products {
				background: white;
			}
		}
	}

	.content,
	.sidebar {
		padding-bottom: 6em;
	}

	.content {
		margin: 0;
		background-color: white;
		border-right: #696463 solid 1px;
		width: 619px;
	}

	.sidebar {
		background-color: inherit;
		width: 330px;

		img {
			margin: 0;
			width: 100%;
		}

		h2 {
			color: #325c2c;
		}

		.city_logos {
			all: unset;
			display: block;
			padding-left: 15px;

			a {
				display: inline-block;
			}

			img {
				max-height: 60px;
				height: 60px;
				width: auto;
				padding-right: 10px;
			}
		}
	}
}

.slideshow {
	background: white;
	border-bottom: #696463 solid 1px;
}

#slideshow {
	display: block;
	height: 0 !important;
	margin: 0;
	padding-bottom: 34%;

	img {}
}

.footer {
	position: relative;
	height: 2.5em;
	margin: 0;
	padding: 0;

	&__info {
		height: auto;
		padding: 0.25em 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.social {
			float: none;
			display: inline;
			padding-right: 15px;
		}

		ul {
			text-align: center;
			float: none;
			display: inline;
			list-style: none;

			.divider {
				display: inline;
			}

			li {
				display: inline;
				padding: 0.25em 0;
				margin: 0;
			}
		}
	}

	a,
	a:link,
	a:visited {
		color: white;
	}
}

.dirt_bottom {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0;
	width: 100%;
	min-height: 60px;
	max-height: 128px;
	height: auto;

	img {
		position: absolute;
		width: 100%;
		height: auto;
		bottom: 0;
		z-index: 600;
	}

	.shovel-girl {
		position: absolute;
		height: 600px;
		width: auto;
		bottom: 1em;
		left: 1em;
		z-index: 601;
	}
}
@media only screen and (max-width: 967px) {
	.container {
		width: 100%;
		overflow-x: hidden;
	}

	.container__main {
		.content {
			width: 64%;
			width: calc(65% - 1px);
		}

		.sidebar {
			width: 35%;
		}
	}

	.fb_iframe_widget {
		display: block !important;
		margin: 0 auto;
		position: relative;
		width: 340px;
		padding: 2em 0 2.5em;
	}

	.dirt_bottom {
		.shovel-girl {
			display: none;
		}
	}
}
@media only screen and (max-width: 767px) {
	.container {}

	.header {
		&__banner {
			height: 8em;

			&__button {
				display: block;
				position: absolute;
				font-size: 2rem;
				top: 55%;
				right: 1rem;
				transform: translate(0, -50%);
				z-index: 850;
				padding: 0.5em;
				color: black;
				cursor: pointer;

				i {}

				&:active,
				&:link,
				&:visited {
					color: black;
				}
			}

			&__logo {
				margin: 0;
				padding: 0;
				height: calc(100% - 2em);
				padding: 1em 3em;
			}
		}

		&__nav {
			all: unset;
			display: block;
			display:none;
			position: absolute;
			width: 100%;

			&__menu {
				all: unset;
				display: block;
				position: relative;
				margin: 0;
				padding: 0;
				width: 100%;

				&__entry {
					color: #A7A9AB;
					margin: 0;
					padding: 0.25em 0;
					font-size: 1.25rem;
					border-bottom: 1.5px solid #F0F0F0;
					text-decoration: none;
					list-style: none;
					display: block;
					text-align: center;
					width: 100%;
					position: relative;
					background: white;
					z-index: 999;

					&__link {
						padding: 1em;
					}

					&__link,
					&__link:link,
					&__link:visited {}

					&__link:hover {}

					&:first-of-type {
						padding-left: 0;
					}
				}
			}
		}
	}

	.footer {
		display: none;
	}
}
@media only screen and (max-width: 650px) {
	.header {
		position: fixed;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 800;

		&__banner {
			position: relative;
			width: 100%;
			height: 6em;

			&__logo {
				position: absolute;
				margin: 0;
				padding: 0;
				display: initial;
				text-align: left;
				left: 0.75em;
				top: 50%;
				transform: translate(0%,-50%);
				float: none;
				height: 4em;
				width: auto;

				img {
					height: 100%;
					width: auto;
				}
			}

			&__signup {
				display: none;

				img {
					width: 100%;
				}
			}

			&__button,
			&__button--mobile {
				display: inline-block;
				position: absolute;
				font-size: 2rem;
				top: 55%;
				right: 1rem;
				transform: translate(0, -50%);
				z-index: 999;
				padding: 0.5em;
				cursor: pointer;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	.header {
		height: 5em;

		&__banner {
			height: 5em;
		}
	}

	.container__main {
		display: block;

		.content,
		.sidebar {
			margin: 0;
			padding: 0;
			margin-bottom: 0;
		}

		.content {
			padding-top: 1em;
			width: 100%;
			border: none;
		}

		.sidebar {
			width: 100%;
		}

		.sidebar__banner {
			display: block;
			width: 100%;
			max-width: 100%;
			height: 10em;
			position: relative;
			margin-bottom: 0;
			overflow: hidden;

			img {
				margin-top: -15%;
				width: 100%;
				height: auto;
			}
		}

		.sidebar__text {
			padding: 1em 0;
		}

		.sidebar .city_logos {
			height: 60px;
			max-height: 60px;
			min-height: 60px;
		}

		.sidebar .city_logos img {
			height: 60px;
			width: auto;
		}

		.sidebar1 h2 {
			color: #325c2c;
		}
	}

	.dirt_bottom {
		display: none;
	}
}
@media only screen and (max-width: 375px) {
	.container__main {
		.content,
		.sidebar {}

		.content {}

		.sidebar {}

		.sidebar__banner {
			img {}
		}

		.sidebar__text {}

		.sidebar .city_logos {}

		.sidebar .city_logos img {}

		.sidebar1 h2 {}
	}

	.dirt_bottom {}

	.container {}

	.header {
		&__banner {
			&__button {
				i {}

				&:active,
				&:link,
				&:visited {
					color: black;
				}
			}

			&__logo {
				height: 3.25em;
			}
		}

		&__nav {
			&__menu {
				&__entry {
					padding: 0.25em 0;
					font-size: 1.15em;

					&__link {
						padding: 0.75em;
					}

					&__link,
					&__link:link,
					&__link:visited {}

					&__link:hover {}

					&:first-of-type {
						padding-left: 0;
					}
				}
			}
		}
	}

	.footer {
		display: none;
	}
}

.faq__menu {
	&__tag {
		&__list {
			&__entry {
				list-style-type: none;

				&__q {
					cursor: pointer;
					color: #e2801d;

					&--active {
						color: black;
						-webkit-transition: all 0.25s ease;
						-moz-transition: all 0.25s ease;
						-o-transition: all 0.25s ease;
						transition: all 0.25s ease;
					}
				}

				&__content {
					display: none;
				}

				a {}

				a.faq__menu__tag__list__entry--selected,
				a:hover {
					color: black;
				}
			}
		}
	}
}

ul.--no-list-style {
	list-style: none;
}

.content--shovelgirl {
	position: absolute;
	background: url("../images/shovel-girl-footer.png") no-repeat scroll 0 0 transparent;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	bottom: 0;
}

p.font-size-80 {
	font-size: 80%;
}
